.list {
  list-style: none;
}

.activity {
  position: relative;
  margin: 1rem 0 3rem 0;
  border-top: 1px solid var(--black);

  &:last-child {
    border-bottom: 1px solid var(--black);
  }
}

.program {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: 9rem 1fr;
  column-gap: 2rem;
  row-gap: 1.25rem;
  list-style: none;

  h6 {
    text-align: right;
  }
}

.program__icon {
  margin-top: 0.375rem;
  grid-row: span 2;
}

.program__header {
  display: flex;
  gap: 2rem;
  align-content: start;
  align-items: flex-end;
  justify-content: space-between;

  h6 {
    white-space: nowrap;
  }
}

.program__description {
  grid-column: 2;
  margin-bottom: 1rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 4.75rem;
  align-items: flex-start;

  a {
    display: flex;
    align-items: center;
    margin: 0 auto;
    transition: color 0.15s ease;
    width: min-content;

    &:hover {
      color: var(--ocean-fog-blue);
    }
  }
}

.icon--mobile {
  display: none;
}

.activities__title {
  margin: 2rem 0;
}

@media (max-width: 640px) {
  .program {
    column-gap: 1rem;
    grid-template-columns: 7.75rem 1fr;

    h6 {
      text-align: left;
    }
  }

  .program,
  .activities__title {
    h6 {
      margin-top: 0.25rem;
    }
  }

  .program__icon {
    grid-row: span 1;
  }

  .program__header {
    display: block;

    a {
      display: inline;
      align-items: flex-start;
      gap: 0.25rem;
    }
  }

  .program__description {
    grid-column: 1 / -1;
    display: block;

    a {
      display: none;
    }
  }

  .icon--mobile {
    display: inline-flex;
    align-items: center;
    margin-left: 0.4ch;
    vertical-align: middle;

    svg {
      margin-top: -0.25rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
