.list {
  list-style: none;
}

.activity {
  position: relative;
  margin: 1rem 0 3rem 0;
}

.program {
  display: grid;
  grid-template-columns: 2rem 1fr;
  row-gap: 1rem;
  column-gap: 2rem;
  margin: 1rem 0;
}

.program__header {
  display: flex;
  justify-content: space-between;
}

.in_progress {
  color: #bbb;
}

.activities {
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 800px) {
      flex-direction: column;
    }

    &__line {
      border-top: 1px solid var(--ocean-fog-blue);
      flex: 1 1 auto;
      height: auto;
      align-self: center;

      @media (max-width: 800px) {
        display: none;
      }
    }
  }
}
