.directory {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    @media (max-width: 700px) {
        grid-template-columns: 1fr;
    }
}

.directory__group {
    gap: 1rem;
    margin: 1rem 0 3rem 0;
}

.directory__group__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    max-width: 36rem;

    @media (max-width: 700px) {
        grid-template-columns: 1fr;
    }
}
