.footer {
  padding: 15rem 0 5rem 0;
  background: linear-gradient(rgba(0, 0, 0, 0), var(--ocean-fog-blue));

  a,
  p,
  h6,
  strong {
    font-size: 0.8125rem;
    line-height: 1rem;
  }

  h6 {
    font-weight: 600;
  }
}

.inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1.5rem;

  > div {
    width: max-content;
    margin: 0 auto;
    max-width: 18rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  img {
    width: 14rem;
    flex-shrink: 0;
  }
}

.sitemap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 900px) {
  .inner {
    grid-template-columns: 1fr 1fr;
    > div {
      width: 100%;
      margin: 0;
    }
  }
}

@media (max-width: 640px) {
  .footer {
    padding: 7rem 1rem 5rem 1rem;
  }

  .inner {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    > div {
      margin: 0;
      gap: 1rem;
    }
  }
}
