.logo {
  display: block;
  width: 100%;
  max-width: 24.625rem;
  svg {
    display: block;
    overflow: visible;
  }

  &:hover svg {
    background: var(--ocean-fog-blue);
  }

  @media (max-width: 640px) {
    position: relative;
    height: auto;

    &,
    a {
      width: 100%;
      margin: 0 auto;
    }

    svg {
      max-width: 100%;
    }
  }
}

.logo--stacked {
  display: block;

  @media (max-width: 640px) {
    display: none;
  }
}

.logo--compact {
  display: none;

  @media (max-width: 640px) {
    display: block;
  }
}
