.logo {
  display: block;
  width: 100%;
  max-width: 24.625rem;
  svg {
    display: block;
    overflow: visible;
  }

  &:hover svg {
    background: var(--ocean-fog-blue);
  }

  @media (max-width: 800px) {
    position: relative;
    height: auto;

    &,
    a {
      width: 100%;
    }

    svg {
      max-width: 100%;
    }
  }
}
