.logo {
  position: sticky;
  top: 1rem;
  z-index: 10;
  max-width: 70rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  height: 0;

  svg {
    display: block;
    max-width: 18rem;
    overflow: visible;
  }

  &:hover path {
    fill: var(--ocean-fog-blue);
  }

  @media (max-width: 800px) {
    position: relative;
    height: auto;

    &,
    a {
      width: 100%;
    }

    svg {
      max-width: 100%;
    }
  }
}
