.page {
  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    gap: 0;

    h1 {
      margin-bottom: 0;
      font-size: 1.75rem;
    }

    main {
      margin-top: 0;
    }
  }
}
