.page {
  // background-image: url("/solander-drawing.png");
  // background-size: cover;
  // background-position: center 30%;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  p {
    font-size: 1.25rem;
    line-height: 140%;
    text-wrap: balance;
    @media (max-width: 800px) {
      font-size: 1rem;
      text-wrap: initial;
    }
  }

  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3rem 1.5rem 6rem 1.75rem;
    justify-content: center;
    align-items: center;
  }
}

.panel {
  background: #b6cad3b0;
  backdrop-filter: blur(6px);
  padding: 0.75rem;
  border: 2px solid #000;

  @media (max-width: 460px) {
    border: 1.5px solid #000;
  }
}

.logo {
  @extend .panel;
  padding: 0;
  border: none;
  svg {
    display: block;
  }
}

.title {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  width: 100%;
  max-width: 31rem;

  @media (max-width: 800px) {
    position: static;
  }

  img {
    padding: 0;
    border: none;
  }

  p {
    @extend .panel;
    margin: 1.5rem 0 0 0;
  }
}

.imgContainer {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}

.updated {
  @extend .panel;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  @media (max-width: 800px) {
    position: static;
    p {
      font-size: 0.75rem;
    }
  }
}
